{% extends 'base.html' %}

{% block cuerpo %}
<div class="untree_co-section pb-0">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-7 text-center mx-auto">
                <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Sección de Noticias</strong></h2>
                <p class="gsap-reveal-hero">Disfrute de su visita.</p>
                <div class="wave gsap-reveal-hero" >
                    <svg>
                        <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
                    </svg>
                </div>
            </div>
        </div>
        <ul>
            <li><a href="{% url 'salir' %}">Salir</a></li>
            <li><a href="{% url 'nuenoticia' %}">Nueva Noticia</a></li>
            <li><a href="{% url 'acceder' %}">Inicio</a></li>
        </ul>
    </div>
</div>
<div class="row mb-4" ></div>
<div class="untree_co-section pb-0" id="about-section" >
    <div class="container">
      {% for noticia in contex %}
        <div class="row mb-4">
          <div class="col-12">
            <div>
                <a href="{% url 'modnoticia' id=noticia.id %}" class="btn btn-warning">Modificar</a>
                <a href="{% url 'bornoticia' id=noticia.id %}" class="btn btn-danger">Borrar</a>
            </div>
            <div class="card">
              {% if noticia.imagen %}
                <img src="/media/imagenes/{{ noticia.imagen }}"  style="max-width: 400px;">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ noticia.titudo }}</h5>
                <p class="card-text">Autor: {{ noticia.autor.nombre }}</p>
                <p class="card-text">Fecha: {{ noticia.fecha }}</p>
                <p class="card-text" >{{ noticia.cuerpo }}</p>
                <!-- Formulario de comentario -->
                <div  id="about-section">
                  <form method="post" action="{% url 'nuecomen' %}">
                    {% csrf_token %}
                    <div class="row">
                      <input type="hidden" name="noticia_id" value="{{ noticia.id }}">
                      <div class="col-lg-6 form-group">
                        <br>
                        <textarea name="cuerpo"   class="form-control" placeholder="Escribe un comentario"></textarea>
                      </div>
                      <div class="col-lg-6 form-group">
                        <label>Visible:</label>                
                        <select id="visible" name="visible" class="form-control">
                          <option value="SI" >Sí</option>
                          <option value="NO">No</option>                      
                        </select>
                      </div> 
                    </div>
                    <div class="row">
                      <div class="col-12 form-group">
                        <button type="submit" class="btn btn-primary mt-2">Comentar</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Mostrar comentarios asociados -->
                <div class="owl-carousel owl-3-slider">
                  {% for comentario in noticia.comentarios %}
                    <li>
                      <p>{{ comentario.fecha }}</p>
                      <p>{{ comentario.autor.nombre }}</p>
                      <p>{{ comentario.cuerpo }}</p>
                    </li>
                  {% empty %}
                    <li>No hay comentarios aún.</li>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
<!--
<div class="untree_co-section pb-0" id="about-section">
  <div class="container">
      <div class="row justify-content-center">
          {% for noticia in contex %}
          <div class="col-lg-6 mb-4">
              <div class="card">
                  {% if noticia.imagen %}
                  <img src="{{ noticia.imagen_url }}" alt="Image" class="card-img-top">
                  {% endif %}
                  <div class="card-body">
                      <h5 class="card-title">{{ noticia.titudo }}</h5>
                      <p class="card-text">Autor: {{ noticia.autor.nombre }}</p>
                      <p class="card-text">{{ noticia.cuerpo }}</p>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>


<div class="owl-carousel owl-3-slider">
    {% if lista %}
        {% for comentario in comen_ver %}
            <div class="item">
                <div class="testimonial-v1">
                    <div class="mb-4">
                        <h3>{{ comentario.fecha }}</h3>
                        <!-- Puedes ajustar esta parte para mostrar otros campos de la noticia -->
                        <!-- <span class="caption">Autor: {{ noticia.autor }}</span> -->
               <!--     </div>
                    <blockquote>
                        <p>{{ comentario.cuerpo }}</p>
                   </blockquote>
                </div>
            </div>
            <a href="{% url 'bornoticia' id=noticia.id %}" class="btn btn-danger">Borrar</a></td>

        {% endfor %}

    {% else %}
        <p>No hay noticias disponibles.</p>
    {% endif %}
</div>
-->
{% endblock %}
